<div class="ap-container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/articles">{{ 'ARTICLES' | translate }}</a>
    <a class="navbar-brand" routerLink="/images">{{ 'IMAGES' | translate }}</a>

    <div class="ml-auto">
      <select (change)="setLang($event.target.value)">
        <ng-container *ngFor="let lan of translate.languages">
          <option [value]="lan">{{ lan }}</option>
        </ng-container>
      </select>
    </div>
  </nav>
  <ng-container *ngFor="let language of languageList">
    <a href="/{{ language.code }}/">
      <button class="button">{{ language.label }}</button>
    </a></ng-container
  >

  <h1 i18n="@@myDemo">Localization Demo in Angular using i18n</h1>
  <h3 i18n="@@myName">Hello, My name is Max</h3>
  <p>This text will remain same in all languages</p>
  <hr />
  <router-outlet></router-outlet>
</div>
