<div class="ap-container">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/articles">{{ 'ARTICLES' | translate }}</a>
    <a class="navbar-brand" routerLink="/images">{{ 'IMAGES' | translate }}</a>

    <div class="ml-auto">
      <select (change)="setLang($event.target.value)">
        <ng-container *ngFor="let lan of translate.languages">
          <option [value]="lan">{{lan}}</option>
        </ng-container>
      </select>
    </div>


  </nav>
  <router-outlet></router-outlet>
</div>