<!-- <ng-container *ngFor="let language of languageList">
  <a href="/translation/articles/{{ language.code }}/"
    ><button class="button">{{ language.label }}</button></a
  >
</ng-container> -->
<a href="https://maxim4220.github.io/translation/articles/en">English</a>
<a href="https://maxim4220.github.io/translation/articles/es">Spanish</a>
<a href="https://maxim4220.github.io/translation/articles/hi">Hindi</a>

<h1 i18n>
  Localization Demo in Angular using i18n
</h1>

<h3 i18n="@@myName">
  Hello, My name is Max
</h3>
<p>This text will remain same in all languages</p>
<hr />
