<div class="ap-main-container">
  <h1 id="main-page-title"> {{ 'IMAGE_TITLE' | translate }}! </h1>
  <app-image-search (emitSearch)="getSearchOutput($event)"></app-image-search>
  <ng-container *ngIf="showMessage">
    <h3 id="ap-description" class="mt-4">{{ 'SEARCH_MSG' | translate }}</h3>
  </ng-container>
  <app-spinner *ngIf="showSpinner; else loadedBlock"></app-spinner>
  <ng-template #loadedBlock>
    <app-image-list *ngIf="!showMessage" [images]="images"></app-image-list>
  </ng-template>
  <app-pagination *ngIf="pagination" (emitPagination)="getPagination($event)" [pagination]="pagination">
  </app-pagination>
</div>